// Global variavbles
// Colors

$primary-color: #2e2f32;
$secondary-color: #000;
$tertiary-color: #191c20;

$suplement-color: #24272a;
$suplement-gradient-color: #232526;

$primary-text-color: #fff;
$secondary-text-color: #c2c2c2;
