@import "~src/assets/scss/variables";

$content-bg-color: $primary-color;

#app {
  height: 100%;

  display: grid;
  grid-template-rows: 70px 1fr 60px;
  grid-template-columns: 70px 1fr;
  grid-template-areas: "menu header" "menu content" "menu footer";

   &.expand-menu {
    grid-template-columns: 300px 1fr;
  }

  &.hide-menu {
    grid-template-areas: "header header" "content content" 'footer footer';
  }

  &.login-window {
    grid-template-areas: "content content" "content content" "footer footer";
  }
}

app-header {
  grid-area: header;
}

app-menu {
  grid-area: menu;
}

.content {
  grid-area: content;

  background-color: $content-bg-color;

  padding: 20px;
}
