@import "~src/assets/scss/globals";

.user-dropdown {
  margin: 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  .user-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    color: $primary-text-color;
    font-size: 1.25rem;

    i {
      margin: 0 5px;
      font-size: 2.2rem;
      color: #0088cc;
    }
  }
}

.profile-item {
  i {
    text-align: center;
    color: $blue;
  }
}

.securety-item {
  i {
    text-align: center;
    color: $info;
  }
}

.users-item {
  i {
    text-align: center;
    color: $indigo;
  }
}

.logout-item {
  i {
    text-align: center;
    color: $red;
  }
}
