<div class="card">
  <div class="card-body">
    <h4 class="card-title">Usuários</h4>
    <div class="user-table">
      <table class="table">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Nome:</th>
            <th>E-mail</th>
            <th>Admin</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.admin }}</td>
          <td>{{ user.deleteAt }}</td>
          <td>
            <a><i class="material-icons">edit</i></a>
            <button>editar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
