/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~materialize-css/dist/css/materialize.min.css";
@import "~bootstrap/scss/bootstrap-grid";

@import "assets/scss/globals";

* {
  font-family: 'Assistant', sans-serif;
}

body {
  height: 100vh;
  margin: 0;

  font-size: 10px;
  line-height: 1.5;
  color: $secondary-text-color;
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "assets/scss/custom/mat-menu";

@import "app/app.component";
